<!--@subject {{trans "Forter declined order #%increment_id" increment_id=$order.getIncrementId()}} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-info">
        <td>
            <p>
                {{trans "Hi"}},<br>
                {{trans "Forter declined order #%increment_id" increment_id=$order.getIncrementId()}}
            </p>
            <p>
                {{trans "The order details are"}}:<br>
                <ul>
                    <li>{{trans "Date: %order_date" order_date=$order.getCreatedAt()}}</li>
                    <li>{{trans "Total amount: %grand_total %currency"  grand_total=$order.getGrandTotal() currency=$order.getCurrencyCode()}}</li>
                </ul>
                {{trans "The client details are"}}:<br>
                <ul>
                    <li>{{trans "Name: %customer_name" customer_name=$order.getCustomerName()}}</li>
                    <li>{{trans "Email: %customer_email"  customer_email=$order.getCustomerEmail()}}</li>
                </ul>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}