{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-info">
        <td>
            <p>
                {{trans "Hello teams,"}}<br>
                {{trans "Order #%increment_id was declined by Forter." increment_id=$order.getIncrementId()}}
            </p>
            <p>{{trans "Forder Decision: %forter_decision." forter_decision=$order.getForterStatus()}}</p>
            <p>
                {{trans "Please contact the client in order to end the purchase process."}}<br>
                {{trans Thank you"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}