<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <forter>
            <settings>
                <enabled>0</enabled>
                <debug_mode>0</debug_mode>
                <api_version>2.17</api_version>
                <enhanced_data_mode>0</enhanced_data_mode>
                <sandbox_mode>0</sandbox_mode>
            </settings>
            <immediate_post_pre_decision>
                <pre_post_select>2</pre_post_select>
                <decline_pre>1</decline_pre>
                <pre_thanks_msg>We are sorry, but we could not process your order at this time.</pre_thanks_msg>
                <decline_post>1</decline_post>
                <not_review_post>3</not_review_post>
                <approve_post>1</approve_post>
                <post_thanks_msg>We are sorry, but we could not process your order at this time.</post_thanks_msg>
            </immediate_post_pre_decision>
            <connection_information>
                <base_connection_timeout>2000</base_connection_timeout>
                <base_request_timeout>2000</base_request_timeout>
                <max_connection_timeout>7000</max_connection_timeout>
                <max_request_timeout>7000</max_request_timeout>
            </connection_information>
            <advanced_settings>
                <enabled_order_holding>1</enabled_order_holding>
                <enabled_order_fulfillment>1</enabled_order_fulfillment>
                <phone_order_enabled>0</phone_order_enabled>
            </advanced_settings>
            <sendmail_on_decline>
              <sendmail>
                <enabled>1</enabled>
                <sender>general</sender>
                <email_template>forter_sendmail_on_decline_email_template</email_template>
              </sendmail>
            </sendmail_on_decline>
        </forter>
    </default>
</config>
