<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="sales_order_payment_place_end_observer_forter" instance="Forter\Forter\Observer\PaymentPlaceEnd" />
    </event>
    <event name="sales_order_payment_place_start">
      <observer name="sales_order_payment_place_before_observer_forter" instance="Forter\Forter\Observer\PaymentPlaceStart" />
    </event>
</config>
