<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="sales_order_payment_place_end_observer_forter" instance="Forter\Forter\Observer\OrderValidation\PaymentPlaceEnd" />
    </event>
    <event name="sales_order_payment_place_start">
        <observer name="sales_order_payment_place_before_observer_forter" instance="Forter\Forter\Observer\OrderValidation\PaymentPlaceStart" />
    </event>
    <event name="sales_order_save_before">
        <observer name="sales_order_save_before_observer_forter" instance="Forter\Forter\Observer\OrderFullfilment\OrderSaveBefore" />
    </event>
    <event name="sales_order_payment_save_after">
        <observer name="payment_save_after_observer_forter" instance="Forter\Forter\Observer\OrderFullfilment\PaymentSaveAfter" />
    </event>
    <event name="admin_system_config_changed_section_forter">
      <observer name="admin_system_config_changed_section_forter" instance="Forter\Forter\Observer\ConfigObserver"/>
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="credit_memo_refund_observer" instance="Forter\Forter\Observer\CreditMemo\CreditMemoRefund" />
    </event>
    <event name="rma_save_after">
        <observer name="rma_save_after_observer" instance="Forter\Forter\Observer\Rma\RmaSaveAfter" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="shipment_save_after_observer" instance="Forter\Forter\Observer\Shipment\ShipmentSaveAfter" />
    </event>
    <event name="payment_method_assign_data_adyen_hpp">
        <observer name="forter_adyen_hpp_gateway_data_assign" instance="Forter\Forter\Observer\ThirdParty\Adyen\AdyenHppDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_adyen_googlepay">
        <observer name="forter_adyen_googlepay_gateway_data_assign" instance="Forter\Forter\Observer\ThirdParty\Adyen\AdyenHppDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_adyen_cc">
        <observer name="forter_adyen_cc_gateway_data_assign" instance="Forter\Forter\Observer\ThirdParty\Adyen\AdyenCcDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braintree">
        <observer name="braintree_gateway_cc_data_assign"
                  instance="Forter\Forter\Observer\ThirdParty\Braintree\BraintreeCcDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braintree_applepay">
        <observer name="braintree_applepay_gateway_cc_data_assign"
                  instance="Forter\Forter\Observer\ThirdParty\Braintree\BraintreeCcDataAssignObserver" />
    </event>
</config>
