<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="sales_order_payment_place_end_observer_forter" instance="Forter\Forter\Observer\PaymentPlaceEnd" />
    </event>
    <event name="sales_order_payment_place_start">
        <observer name="sales_order_payment_place_before_observer_forter" instance="Forter\Forter\Observer\PaymentPlaceStart" />
    </event>
    <event name="sales_order_save_after">
        <observer name="sales_order_save_after_observer_forter" instance="Forter\Forter\Observer\OrderSaveAfter" />
    </event>
    <event name="customer_register_success">
        <observer name="customer_register_success_observer_forter" instance="Forter\Forter\Observer\Customer\CustomerRegisterSuccess" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="customer_save_after_data_object_observer" instance="Forter\Forter\Observer\Customer\CustomerSaveAfterDataObject" />
    </event>
    <event name="admin_system_config_changed_section_forter">
      <observer name="admin_system_config_changed_section_forter" instance="Forter\Forter\Observer\ConfigObserver"/>
    </event>
</config>
