<?xml version="1.0" ?>
<!--
/**
 * @author Zach Vaknin | Girit interactive
 * @copyright Copyright (c) 2019 Forter (https://www.Forter.com)
 * @package Forter_Forter
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Forter_Forter" setup_version="2.4.22"/>
</config>
